@import url(https://fonts.googleapis.com/css?family=Cinzel:700);
@import url(https://fonts.googleapis.com/css?family=Cinzel|Maven+Pro:500);
h1,
h4 {
    font-family: 'Cinzel', serif;
    color:#329090;
}


* {
    box-sizing: border-box;
   
}
#masthead {
    font-size: auto;
    font-weight: bold;
    text-align: center;
}
body {
    background-image: url("photo.jpg");
    font-family: 'Maven Pro', sans-serif;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    color:#094A59;
}
form {
    margin: 0 auto;
    width: 90%;
  
}
fieldset {
    width: 100%;
    border-color: B0DDE8;
}
.box {
    padding: 0.5rem;
}
lable {
    display: none;
    padding: 1rem;
}
input {
    width: 100%;
    line-height: 2rem;
}
#btn {
    width: 100%;
    margin: auto;
    background-color: #7ABECE;
}
@media all and (min-width:35rem) and (max-width:60rem) {
    .box {
        float: left;
        width: 50%;
    }
    lable {
        display: block;
    }
}
@media all and (min-width:60rem) {
    .box {
        float: left;
        width: 50%;
    }
    lable {
        width: 110px;
        display: inline-block;
    }
    input {
        display: inline-block;
        width: 70%;
    }
}
